# ================================
# CheckCle 基础配置
# ================================

# 重启策略（no/always/on-failure/unless-stopped）
RESTART=unless-stopped

# 镜像版本（默认 latest）
CHECKCLE_VERSION=latest

# 时区配置
TZ=Asia/Shanghai
