services:
  dozzle:
    image: amir20/dozzle:${VERSION:-latest}
    container_name: dozzle
    restart: unless-stopped
    env_file: .env
    expose:
      - 8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - data:/data
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  data:
